.rowRadio {
   display: none;
}

.rowLabel {
   display: block;
   padding: 1px;
   cursor: pointer;
}

.row:hover {
   background-color: #FFFF99;
}

.selectedRow {
   //background-color: #FF6600;
   //color: #FFFF99;
   border: 3px solid #FF0000;
}

.tab, iframe {
   border-top: solid 3px #FF6600;
   border-left: none;
   width: 100%;
}

.tabRadio {
   display: none;
}

.tabLabel {
   border-top: solid 1px #FF6600;
   border-left: solid 1px #FF6600;
   border-right: solid 1px #FF6600;
   background-color: #FFFF99;
   color: #FF6600;
   font-size: large;
   padding: 1px;
   cursor: pointer;
}

.tabRadio:checked+label {
   border-top: solid 1px #FF6600;
   border-left: solid 1px #FF6600;
   border-right: solid 1px #FF6600;
   background-color: #FF6600;
   color: #FFFF99;
}

.tabLabel:hover {
   border-top: solid 1px #FF0000;
   border-left: solid 1px #FF0000;
   border-right: solid 1px #FF0000;
   background-color: #FFCC33;
   color: #FF0000;
}

.rows {
   border-collapse: collapse;
}

.headingRow th {
   background-color: #FFFF99;
   font-size: large;
}

hr {
   border: solid 1px #FF6600;
}

a {
   color: #FF6600;
   text-decoration: none;
}

a:hover {
   color: #FF0000;
   text-decoration: underline;
}

.menu {
   font-size: large;
   padding: 10px;
}

button, input[type="submit"], input[type="button"] {
   background-color: #FFFF99;
   color: #FF6600;
   font-size: large;
   border: solid 1px #FF6600;
   border-radius: 5px;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
   border: solid 1px #FF0000;
   background-color: #FFCC33;
   color: #FF0000;
   cursor: pointer;
   box-shadow: 2px 2px 2px #888888;
}

button:disabled {
   background-color: lightgray;
   color: gray;
   border: solid 1px gray;
   cursor: auto;
   box-shadow: none;
}

input, select, textarea {
   border: solid 1px #FF6600;
}

input:focus, select:focus, textarea:focus {
   border: solid 1px #FF0000;
   background-color: #FFFFCC;
}

.placeOfResultWindow {
   text-align: center;
}

.resultWindow {
   background-color: #FFFFCC;
   text-align: center;
   display: inline-block;
   border: solid 1px #FF6600;
   padding: 5px;
}

#report {
   border-collapse: collapse;
}

#report th {
   background-color: lightgray;
}

#report th, #report td {
   padding: 2px;
   text-align: center;
}

.page {
   page-break-after: always;
   page-break-inside: avoid;
}